{%load static%}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- AOS Animation CSS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- External CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <link rel="stylesheet" href="{% static 'css/responsive.css'%}">

  <!-- Icons -->
  <link rel="icon" href="{%static 'img/loggg.png'%}">

  <!-- Judul -->
  <title>SI-BIMBAM</title>
</head>

<div class="berita">
  <!-- Navbar Open -->
<nav class="navbar navbar-expand-lg sticky-top bg-navbar">
    <div class="container">
      <a class="navbar-brand" href="{%url 'beranda'%}"><img src="{%static 'img/loggg.png'%}" alt="brand"
          style="height: 40px; width:40px;"><span>SI-BIMBAM</span></a>
      <!-- <a href="{% url 'logout' %}" class="btn btn-primary d-lg-none ms-auto me-4">Keluar</a> -->
      <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class='bx bx-menu-alt-right'></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto menu-navbar">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'beranda'%}">Beranda</a>
          </li>
          <li><a class="nav-link d-lg-none" href="{%url 'biodata'%}"><i
                class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Biodata</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Pembelajaran
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{%url 'materimurid'%}">Materi Pembelajaran</a></li>
              <li><a class="dropdown-item" href="{%url 'levelmurid'%}">Level Tingkat</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{%url 'tentangmurid'%}" class="nav-link">Tentang</a>
          </li>
          <li class="nav-item">
            <a href="{%url 'beritamurid'%}" class="nav-link">Berita</a>
          </li>
          <li class="nav-item">
            <a href="kegiatanmurid" class="nav-link active" aria-current="page">Kegiatan</a>
          </li>
          <li class="nav-item">
            <a href="{%url 'kontakmurid'%}" class="nav-link">Kontak</a>
          </li>
          <div class="profil">
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="mr-2  text-white-60 small">{{request.user.username}}</span>
                    <img class="img-profile rounded-circle" src="{% static 'img/teamwork.png'%}" style="width: 20px;">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
                    aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="{%url 'biodata'%}"><i
                          class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Biodata</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <a href="{% url 'logout' %}" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px;">Keluar</a>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar CLose -->

  <!-- Content Open -->
  <div class="container-fluid">
    <h2 class="mt-3 mb-5">Kegiatan</h2>
    {% for kegiatan in kegiatan %}
    <div class="card mt-3 mb-3" style="max-width:100%;">
      <a href="{%url 'detailkegiatanmurid' kegiatan.id%}">
        <div class="row g-0">
          <div class="col-md-2">
            {% if kegiatan.foto_kegiatan %}
            <img src="{{kegiatan.foto_kegiatan.url}}" class="card-img-top">
            {% endif %}
          </div>
          <div class="col-md-8 body">
            <div class="card-body">
              <h5 class="card-title" style="color: black;">{{kegiatan.judul}}</h5>
              <p class="card-text" style="color: black;">{{kegiatan.deskripsi}}</p>
              <p class="card-text"><small
                  class="text-muted d-inline-block text-truncate">{{kegiatan.tanggal_upload}}</small></p>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}

    <nav aria-label="Page navigation example" class="mt-5" style="-right: 100x;">
      <ul class="pagination justify-content-end">
        {% if berita.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ berita.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% endif %}

        {% for num in berita.paginator.page_range %}
        {% if berita.number == num %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">{{ num }}</span>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if berita.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ berita.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>

<!-- Content Close -->





  <!-- Footer -->
  <footer class="text-center text-lg-start bg-footer">
    <!-- Section: Links  -->
    <section class="p-1 ">
      <div class="container-fluid text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-3 text-white">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <img src="{%static 'img/loggg.png'%}" style="height: 40px; width:40px">SI-BIMBAM
            </h6>
            <p>
              BIMBAM Smart adalah sebuah bimbingan belajar yang bergerak di bidang pendidikan anak usia dini. Jam kerja
              Senin-Jumat
              (08.00-16.00) Sabtu (08.00-12.00). Tersebar di berbagai wilayah mulai dari Purwakarta, Subang, Karawang,
              Bandung,
              Bekasi dan Jakarta.
            </p>
            <div>
              <ul>
                <a href="https://www.facebook.com/bimbamsmart97/?locale=id_ID" class="me-4 text-reset">
                  <i class='bx bxl-facebook-circle'></i>
                </a>
                <a href="https://www.instagram.com/officialbimbamsmart/" class="me-4 text-reset">
                  <i class='bx bxl-instagram-alt'></i>
                </a>
                <a href="https://api.whatsapp.com/send/?phone=62895324329226&text&type=phone_number&app_absent=0"
                  class="me-4 text-reset">
                  <i class='bx bxl-whatsapp'></i>
                </a>
              </ul>
            </div>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-white">
              Layanan
            </h6>
            <p>
              <a href="#!" class="text-reset">Materi Pembelajaran</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Tingkat Level</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-white">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class='bx bxs-home'></i> Cinangsi, Subang, Jawa Barat</p>
            <p>
              <i class='bx bxs-envelope'></i>
              bimbamsmart97@gmail.com
            </p>
            <p><i class='bx bxs-phone'></i>+6285722552104</p>
            <p><i class='bx bxs-phone'></i>+62895322840478</p>
          </div>
          <!-- Grid column -->
        </div>
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgb(26, 24, 24);">
      ©SIBimbamCopyright2023
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->



<!-- Javascript Open -->
<!-- Boostrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- AOS Animation JS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- Javascript Internal -->
<script src="js/main.js"></script>

<!-- Javascript Close -->

</body>

</html>